<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:loginupt="http://www.flus.cn/schema/loginupt"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.flus.cn/schema/loginupt
  http://www.flus.cn/schema/loginupt.xsd">

	<loginupt:unprotectedConfig id="unprotectedConfig">
		<loginupt:requestPattern pattern="/" httpMethod="GET" />
		<loginupt:requestPattern pattern="/index" httpMethod="GET" />
		<loginupt:requestPattern pattern="/signin" httpMethod="GET" />
		<loginupt:requestPattern pattern="/signin" httpMethod="POST" />
	</loginupt:unprotectedConfig>
</beans>